<div class="notify-bar" ng-show="vm.showErrorMsg">
    <span class="err-msg">{{ vm.errMsg }}</span>
</div>


<div class="row login-header">
    <div class="column small-offset-4 small-8 text-center">
        <img class="animated login1 bounceInUp" src="images/logo_svg.svg">
    </div>
</div>
<form ng-submit="vm.submit()">        
    <div class="row animated bounceInUp login2">
        <div class="column large-4 large-offset-6 medium-offset-5 medium-6 small-offset-2 small-12 input-group animated" ng-class="{'shake': vm.emailError}">
            <label ng-class="{'show-label': vm.email.length >= 1}">Email Address</label>
            <input 
                type="text" 
                placeholder="E-mail Address"
                ng-model="vm.email">
        </div>
    </div>
    <div class="row animated bounceInUp login3">
        <div class="column large-4 large-offset-6 medium-offset-5 medium-6 small-offset-2 small-12 input-group animated" ng-class="{'shake': vm.passwordError}">
            <label ng-class="{'show-label': vm.password.length >= 1}">Password</label>
            <input 
                type="password" 
                placeholder="Password"
                ng-model="vm.password">
        </div>
    </div>

    <div class="row animated bounceInUp login4">
        <div class="column large-4 large-offset-6 medium-offset-5 medium-6 small-offset-2 small-12 animated">
            <button type="submit"  class="button expand login">Log In</button>
        </div>
    </div>
</form>

<div class="row modal" ng-show="vm.showModalError">
    
    <div class="column large-10 large-offset-3 medium-10 medium-offset-3 small-14 small-offset-1 modal-container animated slideInDown">
        
        <header>Oh No.... </header>

        <div class="err-msg">
            {{ vm.errorMsg }}
        </div>
        
        <div class="row no-margin">
            <div class="select-dropdown-close">
                <div class="column medium-5 small-16 right">
                  <button ng-click="vm.showModalError = false; vm.showOverlay = false" class="button expand submit-application">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>