* {
  box-sizing: border-box; }

body {
  background: #E6E6E6;
  color: #666666;
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto; }

.checked {
  background: #A549C5 !important; }

.full-height {
  height: 100%; }

ul {
  list-style: none;
  margin-left: 0.7rem;
  margin-bottom: 0; }

.show-label {
  opacity: 1; }

.pad-top-5 {
  padding-top: 5px; }

.pad-top-10 {
  padding-top: 10px; }

.pad-top-15 {
  padding-top: 15px; }

.pad-lr-5 {
  padding: 0 5px; }

.pad-lr-10 {
  padding: 0 10px; }

.pad-lr-15 {
  padding: 0 15px; }

.pad-l-5 {
  padding-left: 5px; }

.pad-l-15 {
  padding-left: 15px; }

.pad-l-20 {
  padding-left: 20px; }

.pad-r-5 {
  padding-right: 5px; }

.pad-r-15 {
  padding-right: 15px; }

.pad-r-20 {
  padding-right: 20px; }

.no-pad-right {
  padding-right: 0; }

.no-pad-left {
  padding-left: 0; }

.no-pad {
  padding: 0; }

.no-margin {
  margin: 0 !important; }

.input-group {
  position: relative;
  margin-bottom: 10px; }
  .input-group ::-webkit-input-placeholder {
    color: #C0BFBF;
    font-weight: 300;
    font-size: 0.8em;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    padding-top: 4px; }
  .input-group input[type="text"] {
    width: 100%;
    height: 50px;
    padding-top: 18px;
    padding-left: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ECECEC;
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
    color: #666666;
    margin-right: 10px; }
  .input-group label {
    position: absolute;
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    left: 10px;
    top: 0px;
    color: #A549C5;
    opacity: 0;
    -webkit-transition: 0.3s;
            transition: 0.3s; }
  .input-group .show-label {
    opacity: 1;
    top: 6px; }

input[type=checkbox] {
  visibility: hidden; }

input[type=checkbox]:checked + label:after {
  opacity: 1; }

.custom-check {
  position: relative;
  display: inline-block; }
  .custom-check span {
    display: inline-block;
    position: relative;
    left: 40px;
    top: 3px; }
  .custom-check label {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #ECECEC;
    border-radius: 2px;
    opacity: 1; }
    .custom-check label:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 11px;
      left: 10px;
      border: 3px solid #fff;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .custom-check label:hover::after {
      opacity: 1; }

.job-wage > .custom-check {
  position: relative;
  top: 10px; }

input[type=radio] {
  visibility: hidden; }

input[type=radio]:checked + label:after {
  opacity: 1; }

.custom-radio {
  position: relative;
  display: inline-block;
  width: 90px; }
  .custom-radio span {
    display: inline-block;
    position: relative;
    left: 40px;
    top: 3px; }
  .custom-radio label {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #ECECEC;
    border-radius: 2px; }
    .custom-radio label:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 11px;
      left: 10px;
      border: 3px solid #fff;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .custom-radio label:hover::after {
      opacity: 1; }

.nav {
  height: 80px;
  width: 100%;
  background: #000;
  padding-left: 5%;
  position: relative; }
  .nav img {
    position: relative;
    top: 10px; }

.main-body {
  min-height: calc(100% - 180px);
  background: #E6E6E6;
  padding-top: 20px; }

.title-bar {
  height: 60px;
  background: #FFF; }
  .title-bar span {
    padding-left: 5%;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    font-size: 18px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #666; }

.apply-section {
  margin-bottom: 30px; }
  .apply-section header {
    font-size: 18px;
    height: 60px;
    padding-left: 20px;
    line-height: 60px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    position: relative;
    color: #A549C5;
    background: #F9F9F9; }
  .apply-section .apply-section-body {
    height: auto;
    background: #FFF;
    position: relative;
    padding: 10px; }
    .apply-section .apply-section-body .label-like {
      display: inline-block;
      font-size: 10px;
      font-family: Roboto, Arial, sans-serif;
      font-weight: 400;
      color: #A549C5;
      padding-left: 20px; }
    .apply-section .apply-section-body .days div {
      line-height: 40px;
      height: 44px; }
      .apply-section .apply-section-body .days div:first-of-type {
        visibility: hidden; }
    .apply-section .apply-section-body .job-number {
      display: inline-block;
      font-size: 12px;
      font-family: Roboto, Arial, sans-serif;
      font-weight: 400;
      color: #666666;
      padding-left: 20px; }
    .apply-section .apply-section-body .note {
      font-size: 0.6em;
      padding-left: 6.5%;
      padding-top: 5px;
      color: #666; }
    .apply-section .apply-section-body .age-confirm {
      height: 50px;
      padding-top: 10px;
      padding-left: 20px; }
    .apply-section .apply-section-body .height-50 {
      height: 40px;
      font-size: 1em;
      padding-top: 10px; }
    .apply-section .apply-section-body .highlight {
      color: #A549C5; }
    .apply-section .apply-section-body .job-positions {
      padding: 10px 10px; }
    .apply-section .apply-section-body .wage {
      margin-top: 20px; }
    .apply-section .apply-section-body .job-wage {
      padding: 0px 10px; }

.row.avail-from, .row.avail-to, .row.days {
  margin: 0 0 5px 0; }

.avail-from, .avail-to {
  height: 40px;
  margin-bottom: 5px; }
  .avail-from input[type="text"], .avail-to input[type="text"] {
    width: 100%;
    margin: 0;
    height: 40px;
    background: #ECECEC;
    outline: none;
    border: none;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    border-radius: 0; }
  .avail-from div:first-of-type, .avail-to div:first-of-type {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #ccc; }
  .avail-from .column, .avail-to .column {
    padding: 0.15rem; }

.submit-application {
  background: #A549C5; }
  .submit-application:hover {
    background: #8834A5; }

.svg-document {
  box-shadow: 0px 1px 3px 0px rgba(130, 129, 129, 0.5);
  margin: 0 auto;
  padding: 0 !important;
  line-height: 0 !important; }

@media only screen and (min-width: 40.063em) {
  .input-group {
    margin-bottom: 10px; }
  .wage {
    margin-top: 0; } }

@media print {
  .pagetest {
    width: 100%;
    position: absolute;
    top: 0; } }
